@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: light;
}
body {
  background-color: #fee2e2;
  opacity: 1;
  background-image: linear-gradient(
      #fecaca 1.2000000000000002px,
      transparent 1.2000000000000002px
    ),
    linear-gradient(
      90deg,
      #fecaca 1.2000000000000002px,
      transparent 1.2000000000000002px
    ),
    linear-gradient(
      #fecaca 0.6000000000000001px,
      transparent 0.6000000000000001px
    ),
    linear-gradient(
      90deg,
      #fecaca 0.6000000000000001px,
      #fee2e2 0.6000000000000001px
    );
  background-size: 30px 30px, 30px 30px, 6px 6px, 6px 6px;
  background-position: -1.2000000000000002px -1.2000000000000002px,
    -1.2000000000000002px -1.2000000000000002px,
    -0.6000000000000001px -0.6000000000000001px,
    -0.6000000000000001px -0.6000000000000001px;
}

@font-face {
  font-family: "Luthon Southard Script";
  src: url("../public/fonts/Luthon\ Southard\ Script.otf");
}

@font-face {
  font-family: "Luthon Southard Serif";
  src: url("../public/fonts/Luthon\ Southard\ Serif.otf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../public/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../public/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../public/fonts/Roboto-Regular.ttf");
}
